__pycache__/
*.py[codz]
*$py.class

.venv
venv/
.ipynb_checkpoints/
.pytest_cache/
.cache/
dist/
var/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
wheels/
data/

*.manifest
*.spec

pip-log.txt
pip-delete-this-directory.txt

*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

instance/
.webassets-cache

.pybuilder/
target/

.ipynb_checkpoints

profile_default/
ipython_config.py

poetry.lock
poetry.toml

.vscode/

.ruff_cache/